<html lang="es">
<head>
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
    <div class="background">
        <div class="shape shape-left"></div>
        <div class="shape shape-right"></div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3>Registro</h3>

        <label for="name">Nombre</label>
        <input [formControl]="nameControl" type="text" placeholder="Nombre" id="name">

        <label for="lastname">Apellido</label>
        <input [formControl]="lastnameControl" type="text" placeholder="Apellido" id="lastname">

        <label for="username">Nombre de usuario</label>
        <input [formControl]="usernameControl" type="text" placeholder="Usuario" id="username">

        <label for="email">Correo electrónico</label>
        <input [formControl]="emailControl" type="email" placeholder="Correo electrónico" id="email">

        <label for="password">Contraseña</label>
        <input [formControl]="passwordControl" type="password" placeholder="Contraseña" id="password">

        <button type="submit">Registrarse</button>
    </form>
</body>
</html>
